%h1 New Event

= simple_form_for(@event) do |f|
 = f.input :title
 = f.input :content
 = f.input :active_at
 = select_tag "status_id", options_from_collection_for_select( @statuses, "id", "name"), prompt: "Please select"
 = f.button :submit