= link_to "Edit event", edit_event_path(@event)

.status{ style: "background-color: #{@event.status.colour}"}
  = @event.status.name

.event
  = @event.title
  %br
  %br
  = @event.content
  %br
  %br
  = @event.resolved_at if @event.resolved_at
