= link_to "Edit event", edit_event_path(@event)
= link_to "Add comment", new_event_comment_path(@event)

.status{ style: "background-color: #{@event.status.colour}"}
  = @event.status.name

.event

  %h2 #{@event.title}

  - if @event.resolved_at 
    = @event.resolved_at

  - else
    - if @event.created_at != @event.updated_at
      %p Updated at: 
      %p #{@event.updated_at}

  = @event.content
  %br
  %br
  
  .comments
    - if @event.comments != []
      %h2 latest update
      %p Updated at #{@event.comments.first.created_at}
      = @event.comments.first.body

    - if @event.comments.length > 1
      %h2 Previous updates

      .comment
        - @event.comments.drop(1).each do |comment|
          %p Updated at #{comment.created_at}
          %p #{comment.body}

